

footer {
    color: grey;
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 36px;
    margin: 20px 0;
}

.line {
    fill: none;
    stroke-width: 3px;
    cursor: pointer;
    stroke-opacity: 1;
    transition: opacity 0.3s;
}

.line.dimmed {
    stroke-opacity: 0.2;
}

.line.selected {
    stroke-width: 10px;
}

.axis-label {
    font-size: 12px;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    background: #EB3D00;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    pointer-events: none;
}

#show-best-worst,
#show-top-three,
#show-bot-three {
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    background-color: #EB3D00;
}
#show-best-worst:hover,
#show-top-three:hover,
#show-bot-three:hover {
    background-color: #9b2900; /* Darker shade on hover */
}

#show-best-worst.clicked,
#show-top-three.clicked,
#show-bot-three.clicked {
    color: white;
    transition: 0.4s;
    background-color: #721f00;
}
#buttons p, #controls p{
    font-size: 16px;
    margin-top: 0;
}

#info {
    margin-left: 20px;
}
#container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#interactive-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#buttons {
    margin-right: 20px; /* Adjust the margin as needed */
}

#controls {
    margin-left: 20px; /* Adjust the margin as needed */
}

.selectize-control {
    width: 350px; /* Set your desired width */
}
