body {
    margin: 0; /* Remove default margin */
    font-family: Arial, sans-serif;
}

body {
    background-color: #FFEED2;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

nav {
    width: 100%;
    background-color: #2C3E50;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-family: 'Lobster', cursive;
    font-size: 20px; /* Increase font size */
    color: #FFF8DC;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

nav a:hover {
    color: #E6E6FA;
}

.right {
    display: flex;
    gap: 16px;
    margin-right: 250px; 
}

.left {
    margin-left: 250px; 
}

footer {
    color: grey;
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 36px;
    margin: 20px 0;
}

.line {
    fill: none;
    stroke-width: 3px;
    cursor: pointer;
    stroke-opacity: 1;
    transition: opacity 0.3s;
}

.line.dimmed {
    stroke-opacity: 0.2;
}

.line.selected {
    stroke-width: 10px;
}

.axis-label {
    font-size: 12px;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    background: lightsteelblue;
    border: 1px solid #000;
    border-radius: 4px;
    pointer-events: none;
}

#show-best-worst,
#show-top-three,
#show-bot-three {
    border-radius: 10px;
    padding: 10px;
    color: white;
    transition: 0.4s;
    background-color: #49a4ff;
}

#show-best-worst.clicked,
#show-top-three.clicked,
#show-bot-three.clicked {
    color: white;
    transition: 0.4s;
    background-color: #20476d;
}


#info {
    margin-left: 20px;
}
#container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#interactive-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#buttons {
    margin-right: 20px; /* Adjust the margin as needed */
}

#controls {
    margin-left: 20px; /* Adjust the margin as needed */
}

.selectize-control {
    width: 350px; /* Set your desired width */
}
